{% extends 'base.twig' %}

{% block title %}{% if post.isAnswered %}[Answered]{% endif %} {{ post.title }}{% endblock %}
{% block description %}{% if post.isAnswered %}[Answered]{% endif %} {{ post.body | striptags }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="public/css/prism.css">
    <script src='//cloud.tinymce.com/stable/tinymce.min.js'></script>
    <script>
        tinymce.init({
            selector: '#textarea',
            force_br_newlines: false,
            force_p_newlines: false,
            forced_root_block: '',
            height: 250,
            // entity_encoding: "raw",

            plugins: "codesample advlist autolink link image",
            codesample_languages: [
                {text: 'HTML/XML', value: 'markup'},
                {text: 'JavaScript', value: 'javascript'},
                {text: 'CSS', value: 'css'},
                {text: 'PHP', value: 'php'},
                {text: 'Ruby', value: 'ruby'},
                {text: 'Python', value: 'python'},
                {text: 'Java', value: 'java'},
                {text: 'C', value: 'c'},
                {text: 'C#', value: 'csharp'},
                {text: 'C++', value: 'cpp'},
                {text: 'Swift', value: 'swift'},
                {text: 'Django', value: 'django'},
                {text: 'Kotlin', value: 'kotlin'},
                {text: 'Objective-C', value: 'objective-c'},
            ],
        });
    </script>
{% endblock %}
{% block breadcrumb %}
    <nav class="breadcrumb-bg" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="questions.php">Questions</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
            </ol>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <div class="container pt-5">
        <div class="row mt-5 question">
            <div class="d-none d-sm-block col-lg-1 col-md-2 align-self-center">
                <img class="img-fluid rounded-circle" src="{{ post.author.avatar }}" alt="{{ post.user.fullName }}">
            </div>
            <div class="col-lg-10 col-md-9">
                <h1>{% if post.isAnswered %}[Answered]{% endif %} {{ post.title }}</h1>
                <span class="tags">
                {% for tag in post.tags %}
                    <a href="tag.php?name={{ tag.name }}"><span class="tag">{{ tag.name }}</span></a>
                {% endfor %}
            </span>
                <span class="view-count">Views: {{ post.views }}x</span>
            </div>
            <div class="col-12">
                <p class="mt-5">{{ post.body | raw }}</p>
            </div>
        </div>
        <hr class="mt-5 pb-5"/>

        {% if post.comments is not empty %}
            <h4 class="mt-5 mb-5">Answers({{ (post.comments | length) | default(0) }}):</h4>

            {% for comment in post.comments %}
                <div class="row comment {% if comment.isAnswer %}bg-success{% endif %}">
                    <div class="d-none d-sm-block col-lg-1 col-md-2 align-self-start">
                        <img class="img-fluid rounded-circle" src="{{ comment.author.avatar }}"
                             alt="{{ comment.user.fullName }}">
                    </div>

                    <div class="col-lg-10 col-md-9">
                        <strong>{{ comment.author.firstName }} | {{ comment.publishedAt | date('d.m.Y H:i') }}</strong>
                        <hr/>
                        <p>{{ comment.content | raw }}</p>
                    </div>

                </div>
                <hr class="pb-5"/>
            {% endfor %}
        {% endif %}

        <h4 class="mt-5">Your answer:</h4>

        {% if user %}
            <form method="post" class="">
                <div class="form-group">
                    <textarea id="textarea" class="form-control" name="comment"></textarea>
                    {% if response.errors.comment %}
                        <div class="feedback text-danger">
                            {% for err in response.errors.comment %}
                                {{ err }}<br/>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-success" type="submit">Leave a comment</button>
                </div>
            </form>
        {% else %}
            <a href="signin.php" class="bnt btn-lg btn-primary">Sign In to Leave a comment</a>
        {% endif %}
    </div>

{% endblock %}
{% block js %}
    <script src="public/js/prism.js"></script>
{% endblock %}