{% extends 'base.twig' %}

{% block title %}Home{% endblock %}
{% block description %}Home{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="title mt-5">Latest questions</h1>
        <hr/>

        <div class="feed mt-5">
            {% for post in posts %}
                <div class="row question">
                    <div class="d-none d-sm-block col-lg-1 col-md-2 align-self-center">
                        <img class="img-fluid rounded-circle" src="{{ post.author.avatar | default('https://ui-avatars.com/api/?size=150&name=' ~ post.author.firstName ~ '%20' ~ post.author.lastName) }}" alt="{{ post.user.fullName }}">
                    </div>
                    <div class="col-lg-10 col-md-9">
                        <a href="post.php?slug={{ post.slug }}">
                            <h2>{% if post.isAnswered %}[Answered]{% endif %} {{ post.title }}</h2>
                        </a>
                        <span class="tags">
                        {% for tag in post.tags %}
                            <a href="tag.php?name={{ tag.name }}"><span class="tag">{{ tag.name }}</span></a>
                        {% endfor %}
                        </span>
                        <span class="view-count">Views: {{ post.views }}x</span>
                        <span class="view-count {% if post.isAnswered %}text-success{% endif %}">Answers: {{ post.comments.count }}</span>
                    </div>
                </div>
                <hr/>
            {% endfor %}
        </div>
    </div>

{% endblock %}