{% extends 'base.twig' %}

{% block title %}{{ categoryName }}{% endblock %}
{% block description %}{{ categoryName }}{% endblock %}
{% block breadcrumb %}
    <nav class="breadcrumb-bg" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Questions</li>
            </ol>
        </div>
    </nav>
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-3 pb-sm-5">
                <h1 class="title">Categories</h1>
                <hr/>
                <div class="mt-5 nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link profile-tab" id="v-pills-messages-tab" href="questions.php?category=1" aria-selected="false">Programming</a>
                    <a class="nav-link profile-tab" id="v-pills-messages-tab" href="questions.php?category=2" aria-selected="false">Design</a>
                </div>
            </div>
            <div class="col-lg-9">
                <h1 class="title">{{ categoryName }}</h1>
                <hr/>
                <div class="feed mt-5">
                    {% for post in posts %}
                        <div class="row question">
                            <div class="d-none d-sm-block col-lg-1 col-md-2 align-self-center">
                                <a href="profile.php?id={{ post.author.id }}"><img class="img-fluid rounded-circle"
                                                                                   src="{{ post.author.avatar | default('https://ui-avatars.com/api/?size=150&name=' ~ post.author.fullName) }}"
                                                                                   alt="{{ post.author.fullName }}"></a>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <a href="post.php?slug={{ post.slug }}">
                                    <h2>{% if post.isAnswered %}<span
                                                class="text-success">[Answered]</span>{% endif %} {{ post.title }}</h2>
                                </a>
                                <span class="tags">
                        {% for tag in post.tags %}
                            <a href="tag.php?name={{ tag.name }}"><span class="tag">{{ tag.name }}</span></a>
                        {% endfor %}
                        </span>
                                <span class="view-count">Views: {{ post.views }}x</span>
                                <span class="view-count {% if post.isAnswered %}text-success{% endif %}">Answers: {{ post.comments.count }}</span>
                            </div>
                        </div>
                        <hr/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}